  .custom-thumb .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .prose h1,h2,h3,h4,h5{
   color: #b0db72 !important;
  }
 .prose p{
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #4a5565 !important;
  }

